/Platts-Data.xlsx
/Platts
/Platts_Peresentation.pptx
/Platts_Peresentation
/SD_20221219.txt
.vscode/launch.json
Platts-Daily-Report - Shortcut.lnk
Resources/Platts-text.txt
Platts_extract.py
G:\My Drive\Scripts\Daily_Report (2)\Resources