Resources/Platts_Peresentation.pptx
Resources/Platts-Data-English.xlsx
Resources/Platts-Data-Persian.xlsx
Resources/Platts_Peresentation/Slide1.JPG
Resources/Platts_Peresentation/Slide2.JPG
Resources/Platts_Peresentation/Slide4.JPG
Resources/Platts_Peresentation/Slide3.JPG
Resources/Platts_Peresentation/Slide5.JPG
Resources/Platts_Peresentation/Slide6.JPG
Resources/Platts_Peresentation/Slide7.JPG
Resources/Platts_Peresentation/Slide8.JPG
Resources/~$Platts_Peresentation.pptx
Resources/Platts-text.txt
