/Platts-Data.xlsx
/Platts
/Platts_Peresentation.pptx
/Platts_Peresentation
/SD_20221219.txt
Platts-Daily-Report - Shortcut.lnk
Resources/Platts_Peresentation
Resources/Platts-Data-Persian.xlsx
Resources/Platts-Data-English.xlsx
Resources/Platts_Peresentation.pptx
Resources/Platts-text.txt
